

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: aqua;
  background: linear-gradient(45deg, #ff0000, #0000ff);
  background: url('./images/nature\ for\ login\ sing\ up.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

